name: Test

# Controls when the workflow will run
on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run Testsigma Automation Suites
        env:
          TESTSIGMA_API_KEY: ${{ secrets.TESTSIGMA_API_KEY }}
        run: |
          cd ${{ github.workspace }}/testsigma
          chmod a+x run-smoke-tests.sh
          ./run_smoke_tests.sh
